{{extend 'layout.html'}}

<h2>Plates</h2>

<div>
  <a href="{{=URL(f='upload')}}">Upload new plate</a>
</div>

<div class="row">
<table class="table span6">
  <thead>
  <tr>
    <th>Name</th>
    <th>E.Coli</th>
    <th>TC</th>
  </tr>
  </thead>
  <tbody>
  {{for plate in plates:}}
    <tr id="{{=plate.id}}">
      <td><b>{{=plate.name}}</td>
      <td>{{=plate.blue_count}}</b></td>
      <td>{{=plate.red_count}}</b></td>
    </tr>
  {{pass}}
  </tbody>
</table>
</div>


<script>
$(function() {
  $('.table > tbody > tr').click(function() {
      // row was clicked
      window.location.href = "{{=URL(f='view')}}/" + this.id;
  });
});
</script>